.flex{
    display: flex;
}
.flexColumn{
    flex-direction: column;
}
.itemsCenter{
    align-items: center;
}
.justifyCenter{
    justify-content: center;
}
.heightInherit{
    height: inherit;
}
.mx{
    margin-left: auto;
    margin-right: auto;
}
.boldText{
    font-weight: 700;
}
.btn{
    cursor: pointer;
    padding: 2px;

}


/* It is done to remove cross from search bar */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }